body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 7px 0px 10px;
  -webkit-transition: text-shadow 500ms ease;
  transition: text-shadow 500ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

h1:hover {
  text-shadow: 0 0 29px #fff;
}

h2 {
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 28px;
  line-height: 36px;
  font-weight: 800;
  text-transform: uppercase;
}

h3 {
  margin: 10px 0px 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 39px;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  line-height: 23px;
}

.button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.button.slider {
  margin-top: 21px;
  background-color: hsla(0, 0%, 100%, 0.09);
  opacity: 0.4;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
}

.button.slider:hover {
  border-radius: 24px;
  background-color: #f5a631;
  opacity: 1;
  color: #fff;
}

.button.submit {
  padding: 20px 25px;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #fff;
  font-size: 19px;
}

.button.submit:hover {
  padding-right: 50px;
  padding-left: 50px;
  border-color: #f5a631;
  border-radius: 37px;
  background-color: #f5a631;
  color: #fff;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  padding-top: 45px;
  padding-bottom: 19px;
  background-color: transparent;
}

.nav-link {
  height: 45px;
  margin-top: 8px;
  margin-right: 5px;
  padding: 13px 12px 10px;
  opacity: 0.45;
  -webkit-transition: opacity 500ms ease, padding-top 500ms ease;
  transition: opacity 500ms ease, padding-top 500ms ease;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.nav-link:hover {
  opacity: 1;
  color: #fff;
}

.top-slider {
  height: 100%;
  background-color: #2c2d33;
}

.top-slider-container {
  position: relative;
  left: 0px;
  top: 30%;
  right: 0px;
  bottom: 0px;
  padding-right: 140px;
  padding-left: 140px;
  text-align: center;
}

.top-slider-slide {
  z-index: 10;
  background-image: url('../images/webdesign.jpg');
  background-size: cover;
}

.top-slider-slide._2 {
  background-image: url('../images/ecomm.png');
}

.top-slider-slide._3 {
  background-image: url('../images/matrix.jpg');
}

.slider-title {
  color: rgb(255, 255, 255);
  font-size: 60px;
  line-height: 56px;
  font-weight: 400;
  text-transform: uppercase;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.slider-title.small {
  display: inline-block;
  margin-bottom: 33px;
  border-bottom: 2px solid #f5a631;
  font-size: 20px;
}

.slider-title.description {
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  text-transform: none;
}

.slider-title._2 {
  font-weight: 800;
}

.section.intro {
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}

.section.about-me {
  position: static;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.section.intro-image {
  height: 250px;
  background-color: #2c2d33;
  background-image: url('../images/bridge.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.section.info {
  padding-top: 150px;
  padding-bottom: 80px;
  text-align: center;
}

.section.footer {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2c2d33;
  background-image: url('../images/webdesign.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

.section.footer-top {
  padding-top: 100px;
  padding-bottom: 0px;
  border-top: 1px solid #dbdbdb;
  -webkit-transition: background-color 500ms ease, padding-bottom 500ms ease;
  transition: background-color 500ms ease, padding-bottom 500ms ease;
  text-align: center;
}

.section.footer-top:hover {
  padding-bottom: 100px;
  background-color: #f5a631;
}

.section.content-menu {
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 35px;
  border-top: 1px solid #e0e0e0;
  -webkit-transition: padding-bottom 500ms ease, padding-top 500ms ease;
  transition: padding-bottom 500ms ease, padding-top 500ms ease;
  text-align: center;
}

.section.content-menu:hover {
  padding-top: 110px;
  padding-bottom: 50px;
  background-color: #f5a631;
}

.top-info-column {
  padding-right: 0px;
  padding-bottom: 30px;
  padding-left: 0px;
  -webkit-transition: background-color 200ms ease;
  transition: background-color 200ms ease;
  text-align: center;
}

.top-info-column:hover {
  background-color: rgba(196, 184, 167, 0.09);
}

.h2-small {
  margin-top: -8px;
  margin-bottom: 22px;
  color: #cecfd9;
  font-size: 20px;
  font-weight: 300;
  text-transform: none;
}

.link {
  font-family: 'Open Sans', sans-serif;
  color: #f5a631;
  font-size: 15px;
  text-decoration: none;
}

.link:hover {
  color: #ffdaa3;
  text-decoration: underline;
}

.link.top-info {
  display: inline-block;
  margin-top: 16px;
  padding: 7px 13px 8px;
  border-radius: 25px;
  background-color: #f5a631;
  -webkit-transition: background-color 500ms ease, border-radius 500ms ease;
  transition: background-color 500ms ease, border-radius 500ms ease;
  color: #fff;
}

.link.top-info:hover {
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.link.content-menu-link {
  display: inline-block;
  margin-right: 10px;
  padding: 7px 13px 8px;
  border: 2px solid transparent;
  border-radius: 25px;
  background-color: #fff;
  -webkit-transition: background-color 500ms ease, border-radius 500ms ease;
  transition: background-color 500ms ease, border-radius 500ms ease;
  color: #f5a631;
}

.link.content-menu-link:hover {
  border-width: 2px;
  border-color: #000;
  border-radius: 25px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
}

.profile-image {
  display: block;
  width: 170px;
  height: 170px;
  margin: -270px auto 80px;
  border: 4px solid #fff;
  border-radius: 90px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.profile-image:hover {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}

.h3-small {
  margin-bottom: 33px;
  color: #cecfd9;
  font-size: 30px;
  font-weight: 300;
}

.h3-small.intro {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 45px;
  border-bottom: 2px solid #f5a631;
  color: #000;
  font-size: 15px;
  font-weight: 800;
  text-transform: uppercase;
}

.h3-small.intro.white {
  box-shadow: none;
  color: #fff;
}

.h3-small.intro.extraline {
  box-shadow: 0 2px 0 0 #fff;
}

.h3-small.secret-white {
  color: #fff;
}

.content-slider {
  height: 800px;
  background-color: #2c2d33;
}

.content-slider-slide {
  padding-top: 235px;
  background-image: url('../images/webdesign.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.content-slider-slide._2 {
  background-image: url('../images/ecomm.png');
}

.content-slider-slide._3 {
  background-image: url('../images/matrix.jpg');
}

.content-slider-container {
  text-align: center;
}

.content-slider-nav {
  padding-bottom: 130px;
}

.info-row {
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 75px;
  border-bottom: 2px solid hsla(0, 0%, 83.9%, 0.49);
}

.info-row._2 {
  margin-top: 75px;
  margin-right: 0px;
  margin-left: 0px;
  border-bottom-style: none;
}

.info-column {
  padding-right: 25px;
  padding-left: 25px;
}

.footer-title {
  margin-bottom: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 43px;
  font-weight: 300;
}

.footer-title.white {
  color: #fff;
  font-size: 50px;
  font-weight: 800;
  text-transform: uppercase;
}

.footer-link {
  display: inline-block;
  margin-top: 15px;
  margin-right: 25px;
  padding-right: 25px;
  border-right: 1px solid hsla(0, 0%, 100%, 0.49);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}

.footer-link:hover {
  color: #000;
}

.footer-link.end {
  border-right-style: none;
}

.footer-container {
  padding-right: 200px;
  padding-left: 200px;
}

.form-field {
  height: 65px;
  margin-bottom: 5px;
  border: 3px solid #fff;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.form-field:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.form-field:focus {
  box-shadow: 0 0 13px 0 #000;
}

.form-field.area {
  height: 150px;
  padding-top: 19px;
}

.paragraph-white {
  color: #fff;
}

.footer-form {
  margin-top: 50px;
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.29);
}

.discover-more-title {
  margin-top: -74px;
  margin-bottom: 35px;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
}

.menu-button {
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-top: 8px;
  padding-top: 9px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid hsla(0, 0%, 100%, 0.29);
  border-radius: 3px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.menu-button:hover {
  border-color: #f5a631;
  background-color: #f5a631;
}

.menu-button.gototop {
  margin-top: 50px;
}

.slider-arrow-icon {
  width: 45px;
  height: 45px;
  padding-top: 11px;
  padding-bottom: 10px;
  background-color: transparent;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 25px;
  font-weight: 700;
}

.slider-arrow-icon:hover {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.49);
}

.image-top {
  width: 100%;
  height: 150px;
  margin-bottom: 23px;
}

.top-info-description {
  padding-right: 15px;
  padding-left: 15px;
}

.success-message {
  padding-top: 25px;
  border-radius: 3px;
  background-color: #f5a631;
  color: #fff;
}

.error-message {
  margin-top: 28px;
  padding-top: 13px;
  background-color: #f99;
}

.work-icon-symbol {
  display: block;
  width: 50px;
  height: 50px;
  margin-right: auto;
  margin-bottom: 9px;
  margin-left: auto;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border: 2px solid rgba(245, 166, 49, 0.4);
  background-color: rgba(245, 166, 49, 0.4);
}

.work-column {
  padding: 20px 10px 10px;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  text-align: center;
}

.work-column:hover {
  background-color: #f5a631;
}

.work-row {
  margin-top: 34px;
}

.work-title {
  font-size: 11px;
  font-weight: 800;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  h2 {
    font-size: 23px;
  }

  .navbar {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .logo-container {
    padding-left: 29px;
  }

  .nav-link {
    display: inline-block;
  }

  .top-slider-container {
    padding-right: 100px;
    padding-left: 100px;
  }

  .slider-title {
    font-size: 55px;
  }

  .section.intro {
    padding: 100px 30px;
  }

  .section.about-me {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .section.intro-image {
    background-position: 50% 38%;
    background-attachment: scroll;
  }

  .section.info {
    padding-top: 90px;
    padding-bottom: 0px;
  }

  .section.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: scroll;
  }

  .section.footer-top {
    padding-top: 70px;
    padding-bottom: 90px;
    background-color: #f5a631;
  }

  .section.content-menu {
    padding-top: 110px;
    padding-bottom: 50px;
    background-color: #f5a631;
  }

  .section.content-menu:hover {
    padding-top: 130px;
    padding-bottom: 70px;
  }

  .h2-small {
    font-size: 19px;
  }

  .profile-image {
    margin-top: -230px;
    margin-bottom: 40px;
  }

  .content-slider-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .info-row {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .info-row._2 {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .footer-container {
    padding-right: 110px;
    padding-left: 110px;
  }

  .work-icon-symbol {
    border-color: #fff;
    background-color: #f5a631;
  }

  .work-column:hover {
    background-color: rgba(245, 166, 49, 0.29);
  }

  .top-menu-button {
    width: 60px;
    height: 60px;
    padding-top: 10px;
    padding-right: 18px;
    padding-left: 9px;
    -webkit-transition: background-color 500ms ease;
    transition: background-color 500ms ease;
  }

  .top-menu-button:hover {
    border-radius: 3px;
    background-color: #f5a631;
  }

  .top-menu-button.w--open {
    background-color: #f5a631;
  }

  .top-menu-icon {
    color: #fff;
    font-size: 42px;
    font-weight: 700;
  }

  .nav-menu-container {
    padding-top: 10px;
    padding-bottom: 17px;
    background-color: rgba(0, 0, 0, 0.49);
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 30px;
  }

  h3 {
    margin-bottom: 10px;
    font-size: 35px;
  }

  .navbar {
    padding-top: 20px;
    padding-right: 20px;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .nav-link {
    display: block;
    height: auto;
    margin-top: 0px;
    margin-right: 0px;
    padding-top: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
    opacity: 1;
    text-align: center;
  }

  .nav-link:hover {
    background-color: #212226;
  }

  .top-slider {
    height: 550px;
  }

  .top-slider-container {
    top: 150px;
    padding-right: 75px;
    padding-left: 75px;
  }

  .slider-title {
    font-size: 40px;
    line-height: 45px;
  }

  .slider-title.description {
    font-size: 17px;
    line-height: 30px;
  }

  .section.intro {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section.about-me {
    padding-right: 30px;
    padding-bottom: 75px;
    padding-left: 30px;
  }

  .section.info {
    padding-top: 50px;
    padding-bottom: 0px;
  }

  .section.footer {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .section.footer-top {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .section.footer-top:hover {
    padding-bottom: 50px;
  }

  .section.content-menu {
    padding-bottom: 35px;
  }

  .section.content-menu:hover {
    padding-bottom: 50px;
  }

  .h2-small {
    font-size: 23px;
  }

  .link.content-menu-link {
    margin-bottom: 10px;
  }

  .h3-small {
    font-size: 25px;
    line-height: 29px;
  }

  .content-slider {
    height: 500px;
  }

  .content-slider-slide {
    padding-top: 75px;
  }

  .content-slider-nav {
    padding-bottom: 50px;
  }

  .info-row {
    padding-bottom: 50px;
  }

  .info-row._2 {
    margin-top: 50px;
  }

  .info-column {
    padding-right: 30px;
    padding-left: 30px;
  }

  .footer-title.white {
    font-size: 40px;
  }

  .footer-link {
    margin-right: 10px;
    padding-right: 10px;
  }

  .footer-container {
    padding-right: 60px;
    padding-left: 60px;
  }

  .menu-button {
    margin-top: 24px;
  }

  .nav-menu-container {
    padding: 0px 0px 35px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .image-column {
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 30px;
  }

  .image-column._2 {
    padding-top: 20px;
  }
}

@media screen and (max-width: 479px) {
  h3 {
    margin-bottom: 17px;
    font-size: 22px;
    line-height: 23px;
  }

  .button.submit {
    line-height: 10px;
  }

  .top-slider-container {
    padding-right: 25px;
    padding-left: 25px;
  }

  .slider-title {
    font-size: 25px;
    line-height: 33px;
  }

  .slider-title.description {
    font-size: 15px;
    line-height: 22px;
  }

  .section.footer-top {
    padding-right: 30px;
    padding-left: 30px;
  }

  .section.content-menu {
    padding-right: 30px;
    padding-left: 30px;
  }

  .h2-small {
    margin-bottom: 12px;
    line-height: 26px;
  }

  .link.content-menu-link {
    display: block;
    margin-right: 0px;
    margin-bottom: 4px;
  }

  .h3-small {
    margin-top: -10px;
    font-size: 18px;
  }

  .h3-small.intro {
    margin-bottom: 20px;
  }

  .h3-small.secret-white {
    font-size: 17px;
  }

  .content-slider-container {
    padding-right: 40px;
    padding-left: 40px;
  }

  .info-row._2 {
    padding-bottom: 30px;
  }

  .info-column {
    padding-right: 20px;
    padding-left: 20px;
  }

  .footer-title.white {
    font-size: 31px;
  }

  .footer-link {
    display: block;
    margin-right: 0px;
    margin-bottom: -6px;
    padding-right: 0px;
    padding-bottom: 6px;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border-right-style: none;
  }

  .footer-container {
    padding-right: 30px;
    padding-left: 30px;
  }

  .form-field {
    height: 45px;
    font-size: 13px;
  }

  .image-top {
    height: 170px;
  }

  .top-info-description {
    font-size: 14px;
    line-height: 21px;
  }

  .work-row {
    margin-top: 20px;
  }

  .work-title {
    font-size: 9px;
  }
}